.fc-theme-standard .fc-popover{
  width: 200px;
  border-radius: 8px;
  overflow: hidden;
  .fc-popover-header {
    background-color: var(--color-blue-500);
    color: #fff;
    padding-block: 7px;
    text-transform: uppercase;
    .fc-popover-close {
      opacity: 1;
    }
    .fc-popover-title {
      font-size: 14px;
      font-weight: 500;
    }
  }
}